[Unit]
Description=BlueALSA aplay service
Requires=bluealsa.service
After=bluealsa.service sound.target

[Service]
Type=simple
User=bluealsa
ExecStartPre=/bin/sleep 2
ExecStart=/usr/local/bin/bluealsa-aplay --pcm=plughw:Headphones 00:00:00:00:00:00
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
