[Unit]
Description=BlueALSA proxy
Requires=bluetooth.service
After=bluetooth.service

[Service]
Type=simple
User=bluealsa
ExecStart=/usr/bin/bluealsad -p a2dp-sink -p avrcp --volume=software
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
