[Unit]
Description=BlueALSA proxy
Requires=bluetooth.service
After=bluetooth.service

[Service]
Type=simple
User=bluealsa
ExecStart=/usr/local/bin/bluealsa -p a2dp-sink
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
